{% extends "base.html" %} {% block main %}
<div class="container">
  <div class="page-header">
    <h1>Books</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Book name</th>
            <th>Arthur</th>
            <th>Year Published</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Steppenwolf</td>
            <td>Herman Hesse</td>
            <td>1927</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Franz Kafka</td>
            <td>The Metamorphosis</td>
            <td>1915</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %}