{% extends "base.html" %} {% block main %}
<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Try not to contact!</h3>
        </div>
        <div class="panel-body">
          <a href="http://weibo.com/evantellme">weibo</a>
          <br>
          <a href="https://github.com/tellmetar">github</a>
        </div>
      </div>

      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">email</h3>
        </div>
        <div class="panel-body">
          evantellmeat163com
        </div>
      </div>
    </div>
  </div>
  {% endblock %}